In [11]:
import pyspark
from pyspark.sql import SparkSession

In [14]:
print(pyspark.__version__)

3.2.1

In [16]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [17]:
df.write.parquet('zones')

In [21]:
ls -lrt

total 28
-rw-r--r-- 1 jovyan users 12322 Aug 17  2016 taxi+_zone_lookup.csv
drwsrwsr-x 2 jovyan users  4096 Feb 28 05:15 work/
drwxr-sr-x 2 jovyan users  4096 Mar  1 06:26 zones/
-rw-r--r-- 1 jovyan users  3755 Mar  1 06:26 DE_zoomcamp.ipynb

In [24]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-01.csv

--2022-03-01 06:38:37--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-01.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.95.105
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.95.105|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 752335705 (717M) [text/csv]
Saving to: ‘fhvhv_tripdata_2021-01.csv’

fhvhv_tripdata_2021 100%[===================>] 717.48M   961KB/s    in 6m 0s

2022-03-01 06:44:38 (2.00 MB/s) - ‘fhvhv_tripdata_2021-01.csv’ saved [752335705/752335705]

In [25]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv')

In [29]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:55:19', dropoff_datetime='2021-01-01 01:18:21', PULocationID='152', DOLocationID='167', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:23:56', dropoff_datetime='2021-01-01 00:38:05', PULocationID='233', DOLocationID='142', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:42:51', dropoff_datetime='2021-01-01 00:45:50', PULocationID='142', DOLocationID='143', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:48:14', dropoff_datetime='2021-01-01 01:08:42', PULocationID='143', DOLocationID='78', SR_Flag=None)]

In [30]:
df.schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,StringType,true),StructField(dropoff_datetime,StringType,true),StructField(PULocationID,StringType,true),StructField(DOLocationID,StringType,true),StructField(SR_Flag,StringType,true)))

In [39]:
!head -n 101 fhvhv_tripdata_2021-01.csv > head.csv

In [40]:
!wc -l head.csv

101 head.csv

In [41]:
import pandas as pd

In [42]:
df_pandas = pd.read_csv("head.csv")

In [43]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

In [45]:
spark.createDataFrame(df_pandas).schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,StringType,true),StructField(dropoff_datetime,StringType,true),StructField(PULocationID,LongType,true),StructField(DOLocationID,LongType,true),StructField(SR_Flag,DoubleType,true)))

In [46]:
from pyspark.sql import types

In [47]:
schema = types.StructType([
    types.StructField('hvfhs_license_num',types.StringType(), True),
    types.StructField('dispatching_base_num',types.StringType(), True),
    types.StructField('pickup_datetime',types.TimestampType(), True),
    types.StructField('dropoff_datetime',types.TimestampType(), True),
    types.StructField('PULocationID',types.IntegerType(), True),
    types.StructField('DOLocationID',types.IntegerType(), True),
    types.StructField('SR_Flag',types.StringType(), True)
])

In [48]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-01.csv')

In [53]:
df.head(3)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 49, 7), PULocationID=230, DOLocationID=166, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 18, 21), PULocationID=152, DOLocationID=167, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 23, 56), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 38, 5), PULocationID=233, DOLocationID=142, SR_Flag=None)]

In [55]:
df = df.repartition(24)

In [56]:
df.write.parquet("fhvhv/2021/01/")

# read parquet files now

In [57]:
pwd

'/home/jovyan'

In [58]:
ls -lrt

total 1451388
-rw-r--r-- 1 jovyan users     12322 Aug 17  2016 taxi+_zone_lookup.csv
-rw-r--r-- 1 jovyan users 733822658 Oct 29 18:53 fhvhv_tripdata_2021-02.csv
-rw-r--r-- 1 jovyan users 752335705 Oct 29 18:53 fhvhv_tripdata_2021-01.csv
drwsrwsr-x 2 jovyan users      4096 Feb 28 05:15 work/
drwxr-sr-x 2 jovyan users      4096 Mar  1 06:49 zones/
-rw-r--r-- 1 jovyan users      6423 Mar  1 06:50 head.csv
drwxr-sr-x 3 jovyan users      4096 Mar  1 07:02 fhvhv/
-rw-r--r-- 1 jovyan users     12945 Mar  1 07:16 DE_zoomcamp.ipynb

In [59]:
df = spark.read.parquet("fhvhv/2021/01/")

In [62]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [65]:
df.select("pickup_datetime", "dropoff_datetime", "PULocationID", "DOLocationID") \
  .filter(df.hvfhs_license_num == "HV0003").show()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-05 22:14:07|2021-01-05 22:32:28|         189|         107|
|2021-01-02 17:59:55|2021-01-02 18:10:39|          88|         137|
|2021-01-02 23:57:54|2021-01-03 00:15:48|         238|         224|
|2021-01-06 15:53:13|2021-01-06 16:07:07|         169|         208|
|2021-01-07 07:35:24|2021-01-07 07:55:49|          75|          88|
|2021-01-07 08:45:12|2021-01-07 08:51:17|         210|         210|
|2021-01-02 15:44:26|2021-01-02 16:10:50|         243|          69|
|2021-01-04 16:50:28|2021-01-04 16:57:43|         250|         213|
|2021-01-03 10:30:34|2021-01-03 10:44:53|          87|          79|
|2021-01-03 22:05:20|2021-01-03 22:27:55|          68|         181|
|2021-01-04 08:01:02|2021-01-04 08:33:27|          95|         236|
|2021-01-02 13:01:10|2021-01-02 13:08:11|         262|         236|
|2021-01-06 17:12:27|2021-01-06 17:46:56|         237|          83|
|2021-01-04 09:05:18|2021-01-04 09:27:50|         159|          75|
|2021-01-06 16:46:47|2021-01-06 17:50:24|         109|         119|
|2021-01-06 08:03:47|2021-01-06 08:17:43|         145|         229|
|2021-01-04 06:45:42|2021-01-04 06:55:01|         250|         212|
|2021-01-03 13:20:41|2021-01-03 13:31:11|         130|          28|
|2021-01-03 17:30:33|2021-01-03 17:45:19|          81|          46|
|2021-01-06 20:55:57|2021-01-06 21:02:01|         113|          79|
+-------------------+-------------------+------------+------------+
only showing top 20 rows