In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [ ]:
spark.read.parquet()

In [2]:
pwd

'/home/jovyan'

In [4]:
ls -lrth

total 1.4G
-rw-r--r-- 1 jovyan users  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-r--r-- 1 jovyan users 700M Oct 29 18:53 fhvhv_tripdata_2021-02.csv
-rw-r--r-- 1 jovyan users 718M Oct 29 18:53 fhvhv_tripdata_2021-01.csv
drwsrwsr-x 2 jovyan users 4.0K Feb 28 05:15 work/
drwxr-sr-x 2 jovyan users 4.0K Mar  1 06:49 zones/
-rw-r--r-- 1 jovyan users 6.3K Mar  1 06:50 head.csv
drwxr-sr-x 3 jovyan users 4.0K Mar  1 07:02 fhvhv/
-rw-r--r-- 1 jovyan users  18K Mar  1 07:29 DE_zoomcamp.ipynb
-rw-r--r-- 1 jovyan users  559 Mar  1 07:38 download_data.sh
drwxr-sr-x 4 jovyan users 4.0K Mar  1 07:50 data/
-rw-r--r-- 1 jovyan users  23K Mar  1 08:20 data_preparation.ipynb
-rw-r--r-- 1 jovyan users 2.0K Mar  1 08:21 Spark_SQL.ipynb

### Preparing df_green from all the parquet files for all years and all months

In [5]:
df_green = spark.read.parquet("data/pq/green/202*/*")

In [7]:
df_green.head(3)

[Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 23, 13, 10, 15), lpep_dropoff_datetime=datetime.datetime(2020, 1, 23, 13, 38, 16), store_and_fwd_flag='N', RatecodeID=1, PULocationID=74, DOLocationID=130, passenger_count=1, trip_distance=12.77, fare_amount=36.0, extra=0.0, mta_tax=0.5, tip_amount=2.05, tolls_amount=6.12, ehail_fee=None, improvement_surcharge=0.3, total_amount=44.97, payment_type=1, trip_type=1, congestion_surcharge=0.0),
 Row(VendorID=None, lpep_pickup_datetime=datetime.datetime(2020, 1, 20, 15, 9), lpep_dropoff_datetime=datetime.datetime(2020, 1, 20, 15, 46), store_and_fwd_flag=None, RatecodeID=None, PULocationID=67, DOLocationID=39, passenger_count=None, trip_distance=8.0, fare_amount=29.9, extra=2.75, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=33.45, payment_type=None, trip_type=None, congestion_surcharge=None),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 15, 20, 23, 41), lpep_dropoff_datetime=datetime.datetime(2020, 1, 15, 20, 31, 18), store_and_fwd_flag='N', RatecodeID=1, PULocationID=260, DOLocationID=157, passenger_count=1, trip_distance=1.27, fare_amount=7.0, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=8.3, payment_type=2, trip_type=1, congestion_surcharge=0.0)]

In [9]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

### Preparing df_green from all the parquet files for all years and all months

In [19]:
df_yellow = spark.read.parquet("data/pq/yellow/202*/*")

In [20]:
df_yellow.head(3)

[Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2020, 1, 6, 9, 18, 38), tpep_dropoff_datetime=datetime.datetime(2020, 1, 6, 9, 33, 56), passenger_count=1, trip_distance=3.03, RatecodeID=1, store_and_fwd_flag='N', PULocationID=263, DOLocationID=233, payment_type=1, fare_amount=12.0, extra=0.0, mta_tax=0.5, tip_amount=1.5, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=16.8, congestion_surcharge=2.5),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2020, 1, 8, 18, 55, 19), tpep_dropoff_datetime=datetime.datetime(2020, 1, 8, 18, 58, 38), passenger_count=1, trip_distance=0.4, RatecodeID=1, store_and_fwd_flag='N', PULocationID=234, DOLocationID=107, payment_type=1, fare_amount=4.0, extra=1.0, mta_tax=0.5, tip_amount=1.66, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=9.96, congestion_surcharge=2.5),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2020, 1, 16, 12, 11, 53), tpep_dropoff_datetime=datetime.datetime(2020, 1, 16, 12, 42, 44), passenger_count=1, trip_distance=2.46, RatecodeID=1, store_and_fwd_flag='N', PULocationID=68, DOLocationID=229, payment_type=1, fare_amount=19.0, extra=0.0, mta_tax=0.5, tip_amount=4.46, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=26.76, congestion_surcharge=2.5)]

In [21]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

### Combining both df_yellow and df_green together...
but then we need to ensure that all the columns are same before we can do that

### Selecting features that both dataframes have

In [22]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [23]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [15]:
# we are missing pickup because of the way both DF spell it differently...

set (df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'ehail_fee',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'lpep_dropoff_datetime',
 'lpep_pickup_datetime',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance',
 'trip_type'}

### Renaming pickup column names for both DF to standardize it

In [16]:
df_green = df_green \
    .withColumnRenamed("lpep_pickup_datetime", "pickup_datetime") \
    .withColumnRenamed("lpep_dropoff_datetime", "dropoff_datetime")

In [24]:
df_yellow = df_yellow \
    .withColumnRenamed("tpep_pickup_datetime", "pickup_datetime") \
    .withColumnRenamed("tpep_dropoff_datetime", "dropoff_datetime")

In [25]:
set (df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

### In order to preserver the order of the features

In [27]:
col_common = []

for i in df_green.columns:
    if i in df_yellow.columns:
        col_common.append(i)

In [28]:
col_common

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

### Now we have the common features/columns, we can select the data from the DFs
We will also add a new column `service_type` to specify which yellow/green the record is from

In [30]:
from pyspark.sql import functions as F

In [33]:
df_green_new = df_green \
    .select(col_common) \
    .withColumn("service_type", F.lit("green"))

In [34]:
df_yellow_new = df_yellow \
    .select(col_common) \
    .withColumn("service_type", F.lit("yellow"))

### Finally, we can combine both DF together

In [35]:
df_trips_data = df_green_new.unionAll(df_yellow_new)

In [37]:
df_trips_data.groupby("service_type").count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|41018964|
+------------+--------+

### Trying to use SQL

In [39]:
df_trips_data.registerTempTable("trip_table")

/usr/local/spark/python/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [40]:
spark.sql("""
SELECT 
    service_type,
    COUNT (1)
FROM
    trip_table
GROUP BY
     service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|41018964|
+------------+--------+

In [42]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trip_table
GROUP BY
    1, 2, 3
""")

In [43]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')

# Using SQL Group By

### Green

In [44]:
df_green = spark.read.parquet("data/pq/green/202*/*")

In [45]:
df_green.registerTempTable('green_table')

/usr/local/spark/python/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [48]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green_table
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY
    1,2
""")

In [49]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 00:00:00|   7| 769.7299999999996|            45|
|2020-01-01 00:00:00|  17|195.03000000000003|             9|
|2020-01-01 00:00:00|  18|               7.8|             1|
|2020-01-01 00:00:00|  22|              15.8|             1|
|2020-01-01 00:00:00|  24|              87.6|             3|
|2020-01-01 00:00:00|  25| 531.0000000000002|            26|
|2020-01-01 00:00:00|  29|              61.3|             1|
|2020-01-01 00:00:00|  32| 68.94999999999999|             2|
|2020-01-01 00:00:00|  33|317.27000000000004|            11|
|2020-01-01 00:00:00|  35|            129.96|             5|
|2020-01-01 00:00:00|  36|295.34000000000003|            11|
|2020-01-01 00:00:00|  37|            175.67|             6|
|2020-01-01 00:00:00|  38| 98.78999999999999|             2|
|2020-01-01 00:00:00|  40|168.97999999999996|             8|
|2020-01-01 00:00:00|  41|1363.9599999999987|            84|
|2020-01-01 00:00:00|  42| 799.7599999999994|            52|
|2020-01-01 00:00:00|  43|            107.52|             6|
|2020-01-01 00:00:00|  47|              13.3|             1|
|2020-01-01 00:00:00|  49|266.76000000000005|            14|
|2020-01-01 00:00:00|  51|              17.8|             2|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [56]:
df_green_revenue \
    .repartition(20) \
    .write.parquet("data/report/revenue/green", mode="overwrite")

### Yellow

In [51]:
df_yellow = spark.read.parquet("data/pq/yellow/202*/*")

In [52]:
df_yellow.registerTempTable('yellow_table')

/usr/local/spark/python/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [53]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow_table
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY
    1,2
""")

In [57]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet("data/report/revenue/yellow", mode="overwrite")

# Using SQL Joins

In [61]:
df_green_t_revenue = df_green_revenue \
    .withColumnRenamed("amount", "g_amount") \
    .withColumnRenamed("number_records", "g_number_records")

df_yellow_t_revenue = df_yellow_revenue \
    .withColumnRenamed("amount", "y_amount") \
    .withColumnRenamed("number_records", "y_number_records")

In [62]:
df_join = df_green_t_revenue.join(df_yellow_t_revenue, on=["hour", "zone"], how="outer")

In [63]:
df_join.show()

+-------------------+----+------------------+----------------+------------------+----------------+
|               hour|zone|          g_amount|g_number_records|          y_amount|y_number_records|
+-------------------+----+------------------+----------------+------------------+----------------+
|2020-01-01 00:00:00|   3|              null|            null|              25.0|               1|
|2020-01-01 00:00:00|   4|              null|            null|1004.3000000000002|              57|
|2020-01-01 00:00:00|   7| 769.7299999999996|              45| 455.1700000000001|              38|
|2020-01-01 00:00:00|  12|              null|            null|             107.0|               6|
|2020-01-01 00:00:00|  37|            175.67|               6|161.60999999999999|               7|
|2020-01-01 00:00:00|  40|168.97999999999996|               8|             89.97|               5|
|2020-01-01 00:00:00|  45|              null|            null| 732.4800000000002|              42|
|2020-01-01 00:00:00|  47|              13.3|               1|               8.3|               1|
|2020-01-01 00:00:00|  51|              17.8|               2|              31.0|               1|
|2020-01-01 00:00:00|  62|             15.95|               1|             61.43|               1|
|2020-01-01 00:00:00|  68|              null|            null| 7825.070000000012|             396|
|2020-01-01 00:00:00|  73|              null|            null|              17.3|               1|
|2020-01-01 00:00:00|  74|317.09000000000015|              24| 586.2100000000002|              47|
|2020-01-01 00:00:00|  77| 75.99000000000001|               2|            134.24|               3|
|2020-01-01 00:00:00|  80|364.32000000000005|              13|             371.4|              20|
|2020-01-01 00:00:00|  83|              94.1|               7|               9.8|               1|
|2020-01-01 00:00:00|  89|              11.3|               1|             48.16|               2|
|2020-01-01 00:00:00|  94| 64.24000000000001|               3|              13.3|               1|
|2020-01-01 00:00:00|  95|202.20000000000002|              15|               6.3|               1|
|2020-01-01 00:00:00|  97|            786.18|              25|403.02000000000004|              20|
+-------------------+----+------------------+----------------+------------------+----------------+
only showing top 20 rows

In [64]:
df_join.write.parquet("data/report/revenue/total")